h1 {
    color: blue;
    background-color: orange;
}

.butter {
    color: yellow;
    background-color: purple;
}

.creamcheese {
    color: green;
    background-color: red;
}

.toested {
    color: blue;
    background-color: orange;
}

.cough-ee {
    color: brown;
    background-color: green;
}

